:host {
    --background: transparent;
  }
  
  ion-content {
    --background: none;
    background: url('/assets/img/portada.png') no-repeat center center / cover;
  }

  
  .titulo-bienvenida {
    color: white;
    font-weight: bold;
    font-size: 24px;
  }

  .contenido {
    background-color: rgba(0, 0, 0, 0.5); // fondo oscuro semitransparente
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin: 40% auto 0;
    width: 90%;
    color: white;
  }
  
  
  ion-toolbar {
    --background: #6a1b9a; /* Un color morado oscuro */
  }
  
  .titulo-bienvenida {
    color: white; /* Asegúrate de que el título sea blanco */
  }
  
  .bienvenida-titulo {
    font-size: 1.8rem; /* Tamaño de fuente para el título de bienvenida */
    color: white; /* Texto blanco */
    font-weight: bold;
    margin-top: 20px;
  }
  
  ion-button {
    --background: #6a1b9a; /* Color morado para los botones */
    --color: white; /* Texto blanco */
    --border-radius: 10px; /* Bordes redondeados */
    margin-top: 15px;
  }
  
  ion-button:hover {
    --background: #9c4dcc; /* Un morado más claro al hacer hover */
  }
  
  .logo-container img {
    border-radius: 50%; /* Si quieres que el logo sea redondo */
  }
  
  ion-content {
    color: white; /* Asegura que el texto se vea blanco sobre el fondo */
  }
  
  ion-toolbar {
    --background: #6a1b9a; /* Color de fondo de la barra superior */
  }
  
  ion-title {
    color: white; /* Color blanco para el texto del título */
  }

  
  /* bienvenido.page.scss */
h2 {
  color: white; /* Asegura que el texto sea blanco */
  font-size: 36px; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Hace el texto más grueso */
  text-align: center; /* Asegura que el texto esté centrado */
  margin-top: 20px; /* Un pequeño margen superior */
}


.logo-container img {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
