<ion-header>
  <ion-toolbar>
    <ion-title>Historial Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Correo del usuario</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre de la mascota</ion-label>
    <ion-input [(ngModel)]="mascotaNombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nueva entrada médica</ion-label>
    <ion-textarea [(ngModel)]="nuevaEntrada"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="agregarEntrada()">Agregar</ion-button>
  <ion-button expand="full" color="medium" (click)="verHistorial()">Ver historial</ion-button>
  <ion-button size="small" fill="outline" (click)="volverABienvenida()">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Volver
  </ion-button>
  

  <ion-list *ngIf="historial.length > 0">
    <ion-list-header>
      <ion-label>Historial Médico</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let entrada of historial">
      {{ entrada }}
    </ion-item>
  </ion-list>
</ion-content>
